{% extends "layout.html" %}
{% block body %}
<!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+92 335 28 99 624</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="ammarshehzad15@gmail.com">ammarshehzad15@gmail.com</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
    <h3>Gave Contact</h3>
    <p>If you interested you can drop your details</p>
      <form class="form-group" name="sentcontacts" id="contactForm" action = "/contact" method="post" novalidate>
        <label for="fname">Phone Number</label></br>
        <input type="text" id="pno" name="phonenumber" placeholder="Phone Number"></br>
    
        <label for="lname">Email Address</label></br>
        <input type="text" id="lname" name="email" placeholder="Your Email Address"></br>
                  <a type= "submit"  class="btn btn-lg btn-info" id = "sendcontactbutton" > Submit</a></div></br>
        
      </form>
      </div>

{% endblock %}